# Environment variables
.env
arcane_dump/
wpak/
# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.env
.venv
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
behavior_tracker.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Byte-compiled / optimized / DLL files
*.egg

# Distribution / packaging
eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv.bak/

# PyTest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Environments
.ipynb_checkpoints

# MacOS
.DS_Store

# Windows
Thumbs.db
/cache/CObjects.cache
/cache/CZone.cache
/cache/Dungeon.cache
/cache/Mesh.cache
/cache/Motion.cache
/cache/Palette.cache
/cache/Render.cache
/cache/Skeleton.cache
/cache/Sound.cache
/cache/TerrainAlpha.cache
/cache/Textures.cache
/cache/Tile.cache
/cache/Visual.cache
